In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss
from sklearn import preprocessing,model_selection
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDClassifier,LogisticRegression

In [3]:
%matplotlib inline

In [23]:
all_train=pd.read_csv('train.csv',sep=';',index_col=0)
all_test=pd.read_csv('test.csv',sep=';',index_col=0)
all_test.replace(to_replace='None',value=0,inplace=True)
all_train.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [17]:
all_test.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,18888,1,154,85.0,130,80,1,1,0,0,1
1,19042,2,170,69.0,130,90,1,1,0,0,1
2,20432,1,160,70.0,120,75,1,1,0,0,0
3,18133,2,185,94.0,130,90,1,1,0,0,1
4,16093,2,170,76.0,120,80,1,1,0,0,1
5,16712,1,160,68.0,120,80,1,1,0,0,0
6,15873,2,170,68.0,120,80,1,1,0,0,0
7,20424,1,164,60.0,120,80,1,1,0,0,0
8,20262,1,170,68.0,110,70,1,1,0,0,1
9,21737,1,162,88.0,180,100,2,2,0,1,1

In [24]:
X=all_train[all_train.columns[:-1]]
y=all_train[all_train.columns[-1]]
X_train, X_valid, y_train, y_valid = model_selection.train_test_split(X, y, test_size=0.33, random_state=42)

In [6]:
def check_score(clf,X,y):
    y_pred=clf.predict_proba(X)
    return log_loss(y, y_pred)

RandomForestClassifier

In [7]:
rf=RandomForestClassifier(random_state=0)
rf.fit(X_train,y_train)
check_score(rf,X_valid,y_valid)

1.4299839092062521

LogisticRegression

In [25]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
check_score(lr,X_valid,y_valid)
# 0.58984802125260538

0.58984802125260538

In [12]:
sgd = SGDClassifier(loss='log',random_state=42)
sgd.fit(X_train,y_train)
check_score(sgd,X_valid,y_valid)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)

4.7542969183213595

In [21]:
def write_answer(clf,test_data):
    y_pred=clf.predict_proba(test_data)
    np.savetxt('result.csv',y_pred[:,1],fmt='%f')

In [164]:
write_answer(rf,all_test)

In [26]:
write_answer(lr,all_test)